/* Stylo googlefonts*/

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

/*  font-family: "GFS Didot", serif*/

/* paleta de colores */
:root {
    --color-princpal: #0D0C0C;
    --color-letras: #F9C15B;
    --color-letrasw: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* valor inicial  */
body {
    background-color: var(--color-princpal);
    font-family: "GFS Didot", sans-serif;
    color: var(--color-letras);




}

a {
    text-decoration: none;
    color: var(--color-letras);
}

h2 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

/*header */



.Logo img {

    height: 100%;
    max-height: 100px;
    width: auto;
    object-fit: contain;

}

/* navbar*/

.navbar li {
    font-size: 2rem;
    list-style: none;

}

/* main */


.inicio h1 {
    text-decoration: underline;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;

}


/*imagenes modificadores futura card , posiblemnte con un carrusel para editar
.imagenes {
    border: 4px solid #ffffff;
    
}

*/
.imagenes img {
    width: 500px;
    height: 500px;

}

.imagenes p {
    text-decoration: none;
    text-align: center;
}

.somosgrafica p {
    font-size: 1.5rem;
}

.somosgrafica ul li {
    font-size: 1.5rem;
}

/*Contactos*/



.ImagenContacto img {
    width: 50px;
    height: 50px;


}

/*footer */

footer a {
    text-decoration: none;

}

footer p {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-letrasw);
}

footer article {
    align-items: center;
}

footer article img {
    height: 200px;
    width: 500px;


}

.footernav li {

    font-size: 1.5rem;
    text-transform: uppercase;
    list-style: none;

}

footer nav ul img {
    width: 50px;
    height: auto;

}

/* tp4*/


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-right: 5rem;
    padding-top: 3rem;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;
    margin-bottom: 5rem;

}

.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.navbar li {

    display: flex;
    height: 90px;
    padding: 0 20px;
    font-size: 18px;
    white-space: nowrap;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    margin-top: 3rem;
}

.footernav {
    flex-direction: row;
    display: flex;
    gap: 2px;
    align-items: center;
}

.inicio {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;

}

.inicio p {
    display: flex;
    margin-top: 2rem;
}

.somosgrafica {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.somosgrafica p {
    padding: 0 3rem;
}

.imagenes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.footernav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.indexul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.somosgrafica p {
    display: flex;

    align-items: center;
}

.contactos {
    display: flex;
    justify-content: center;
}

.ImagenContacto a {
    display: flex;
    align-items: center;
}

.inicio img {
    height: 30rem;
    width: 35rem;
}
